 .table-wrapper {
  max-height: 400px; 
  overflow-y: auto;
  margin: 20px auto;
  max-width: 900px;
  border: 1px solid white;
  border-radius: 8px;
}

 .verification-table {
  width: auto;
  max-width: 700px; 
  margin: 20px auto; 
  border-collapse: collapse;
  font-size: 14px;
}

.verification-table th {
  background-color: black;
  color: white;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.verification-table td {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.verification-table tr:hover {
  background-color: #f5f5f5;
}

.verification-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}